{{#if payment.is_webinar}}
<div class="c-product-webinar">
  <div class="c-product-webinar__info">
    {{#if payment.event.type}}
    <dl class="c-product-webinar__info--item">
      <dt class="c-product-webinar__info--label">행사유형</dt>
      <dd class="c-product-webinar__info--data">{{payment.event.type_text}}</dd>
    </dl>
    {{/if}}
    {{#if payment.event.used_event_date}}
    <dl class="c-product-webinar__info--item">
      <dt class="c-product-webinar__info--label">행사일정</dt>
      <dd class="c-product-webinar__info--data">
        <span>{{payment.event.event_date_text}}</span>
        {{#unless payment.event.event_is_past}}
        <span class="label-dday">D - {{payment.event.event_d_day}}</span>
        {{/unless}}
      </dd>
    </dl>
    {{/if}}
    {{#if payment.event.used_join_date}}
    <dl class="c-product-webinar__info--item">
      <dt class="c-product-webinar__info--label">신청기간</dt>
      <dd class="c-product-webinar__info--data">
          {{payment.event.join_date_text}}
      </dd>
    </dl>
    {{/if}}

    {{#if payment.event.place}}
    <dl class="c-product-webinar__info--item">
      <dt class="c-product-webinar__info--label">장소</dt>
      <dd class="c-product-webinar__info--data">
        {{payment.event.place}}
        {{#if payment.event.online_stream_url}}
        {{#if payment_status.is_paid}}
        <a class="event-link" href="{{payment.event.online_stream_url}}" target="_blank">참여하기</a>
        {{/if}}
        {{/if}}
      </dd>
    </dl>
    {{/if}}
  </div>
</div>
{{/if}}