{{#get "posts" filter="featured:true" include="tags" limit="all" order="published_at desc" as |posts|}}
        {{#if posts}}
        {{#foreach posts from="2" to="3"}}
        <a class="s-products__header--feature2--slide {{#if @first}}active{{/if}}" href="{{url}}">
            {{#if feature_image}}
            <img class="s-products__header--feature2--image" src="{{feature_image}}" alt="{{title}}" loading="lazy">
            {{/if}}
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0.2) 70%,
            rgba(0, 0, 0, 0) 100%
        );"></div>
            <div class="s-products__header--feature2--content">
                {{#if primary_tag}}
                <div class="s-products__header--feature2--mobile-primary-tag">{{primary_tag.name}}</div>
                {{/if}}
                <div class="s-products__header--feature2--title">{{title}}</div>
                <div class="s-products__header--feature2--info">
                {{#if primary_tag}}
                <div class="s-products__header--feature2--primary-tag">{{primary_tag.name}}</div>
                {{/if}}
                <div class="s-products__header--feature2--info--date">{{date format="YYYY.MM.DD."}}</div>
                </div>
            </div>
        </a>
        {{/foreach}}
        {{/if}}
        {{/get}}