<header class='c-post-header' style="max-width: 900px !important;">
  {{#if primary_tag}}
  <div class="c-post-header__tag">
    <a href="{{primary_tag.url}}" class="c-post-header__tag--name">{{primary_tag.name}}</a>
  </div>
  {{/if}}
  <h1 class='c-post-header__title'>{{ title }}</h1>
  {{#if custom_excerpt}}
  <p class='c-post-header__excerpt'>{{ custom_excerpt }}</p>
  {{/if}}
  <div class="c-post-header__info">
    {{#primary_author}}
    <div class="c-post-header__info--profile">
      {{#if profile_image}}
      <img class="c-post-header__info--image" src="{{img_url profile_image}}" alt="{{name}}의 프로필 사진">
      {{/if}}
    </div>
    <a class="c-post-header__info--name" href="{{url}}">{{name}}</a>
    {{/primary_author}}
    <div class="c-post-header__info--date">{{date format="YYYY.MM.DD"}}</div>
  </div>
  {{#is 'post'}}
  {{#if feature_image}}
  {{!-- <section class="c-post-feature">
    <div class="c-post-feature__container">
        <img class="c-post-feature__image" src="{{feature_image}}" alt="{{title}}">
    </div>
  </section> --}}
  {{/if}}
  {{> post-community }}

  {{/is}}
</header>