<div class="c-post-community">

  <div class="c-post-community__item">
    {{#if (not @site.comment_read_permission "none")}}
    <a href="{{url absolute="true"}}comments" class="c-post-community__comment" data-portal="comment" data-post-uuid="{{ uuid }}">
      <svg class="n-hover" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.00082 14.7879C3.32818 14.7879 2.67723 14.7879 2.02628 14.7879C1.52758 14.7961 1.04448 14.6126 0.67514 14.2746C0.455721 14.0795 0.28156 13.8382 0.165022 13.5677C0.0484839 13.2972 -0.00757588 13.0041 0.000821623 12.7093C0.000821623 10.5521 0.000821623 8.3957 0.000821623 6.24018C0.000821623 4.86787 0.000821623 3.49557 0.000821623 2.12327C0.000821623 0.860926 0.855402 0 2.10556 0H17.8944C19.1463 0 19.9992 0.860084 20 2.12243C20 5.63735 20 9.15198 20 12.6663C20 13.9287 19.1463 14.7879 17.8928 14.7879C15.2965 14.7879 12.7002 14.7879 10.1031 14.7938C9.97561 14.797 9.85238 14.8406 9.75088 14.9184C8.26093 16.11 6.77459 17.3064 5.29187 18.5076C5.22678 18.5598 5.16252 18.6137 5.09659 18.6642C4.8721 18.8325 4.63008 18.8787 4.3747 18.7483C4.25739 18.6928 4.1592 18.6032 4.09273 18.4911C4.02627 18.3789 3.99455 18.2493 4.00166 18.1188C4.00166 17.096 4.00166 16.0738 4.00166 15.0522L4.00082 14.7879ZM5.33611 16.737C5.41956 16.6739 5.47548 16.6351 5.52805 16.5931C6.73148 15.6236 7.93406 14.6527 9.13582 13.6804C9.3279 13.5187 9.57168 13.4329 9.82182 13.4389C12.508 13.4445 15.1944 13.4445 17.8811 13.4389C18.4068 13.4389 18.6664 13.1864 18.6664 12.6605C18.6664 9.14722 18.6664 5.63342 18.6664 2.11906C18.6664 1.60318 18.4085 1.34061 17.9011 1.34061H2.09555C1.59982 1.34061 1.3361 1.6057 1.3361 2.10306C1.3361 5.63089 1.3361 9.15871 1.3361 12.6865C1.3361 13.1738 1.59982 13.4381 2.0872 13.4389H4.56248C5.07322 13.4389 5.33444 13.6998 5.33527 14.2098C5.33611 15.0396 5.33527 15.8651 5.33527 16.737H5.33611Z" fill="#757575"/></svg>
      <svg class="hover" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.89 0H2.11C0.86 0 0 0.86 0 2.12V12.71C0 13 0.05 13.3 0.16 13.57C0.28 13.84 0.45 14.08 0.67 14.28C1.04 14.62 1.52 14.8 2.02 14.79H3.99V15.05C3.99 16.07 3.99 17.09 3.99 18.12C3.99 18.25 4.01 18.38 4.08 18.49C4.15 18.6 4.24 18.69 4.36 18.75C4.62 18.88 4.86 18.83 5.08 18.67C5.15 18.62 5.21 18.57 5.28 18.51C6.76 17.31 8.25 16.11 9.74 14.92C9.84 14.84 9.96 14.8 10.09 14.8C12.69 14.8 15.28 14.8 17.88 14.8C19.13 14.8 19.99 13.94 19.99 12.68V2.12C19.99 0.86 19.14 0 17.88 0H17.89Z" fill="#757575"/></svg>
      <span>{{#if comment_count}}{{comment_count}}{{else}}답글달기{{/if}}</span>
    </a>
    {{/if}}
  </div>

  <div class="c-post-community__item">
    <div class="c-post-community__share">

      <svg class="n-hover" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7784 7.06305L12.0765 0.168858C11.8017 -0.0761723 11.3809 -0.0515859 11.1362 0.223448C11.028 0.34513 10.968 0.50265 10.9676 0.665587V3.946C4.21797 3.96933 -1.03989 11.947 0.175513 19.5446C0.292058 19.8938 0.669165 20.0826 1.01838 19.9659C1.01922 19.9659 1.02047 19.9651 1.0213 19.9647C1.23025 19.8926 1.39008 19.7217 1.44752 19.5079C2.80944 14.4773 6.62546 11.1069 10.9676 11.1736V14.444C10.9684 14.8124 11.2669 15.1103 11.6348 15.1095C11.7976 15.1095 11.9549 15.0491 12.0765 14.9407L19.7784 8.05651C20.0523 7.81106 20.0756 7.38934 19.8305 7.11514C19.8142 7.09681 19.7967 7.07972 19.7784 7.06305ZM12.2996 12.9638V10.5535C12.2958 10.3672 12.2163 10.1901 12.0798 10.0634C11.972 9.96675 11.8371 9.90632 11.6935 9.89007C7.46459 9.50336 3.6086 11.9303 1.42754 15.9708C2.02026 9.8034 6.36573 5.04613 11.6203 5.2795C11.9882 5.2795 12.2862 4.98113 12.2862 4.61275V2.15577L18.3366 7.55978L12.2996 12.9638Z" fill="#757575"/></svg>
      <svg class="hover" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8303 7.11502C19.814 7.09669 19.7965 7.0796 19.7782 7.06293L12.0767 0.168736C11.802 -0.0762944 11.3811 -0.051708 11.1364 0.223326C11.0282 0.345008 10.9682 0.502528 10.9678 0.665465V3.94588C4.21818 3.96921 -1.03967 11.9469 0.175726 19.5445C0.292272 19.8937 0.669379 20.0825 1.0186 19.9658C1.01943 19.9658 1.02068 19.965 1.02151 19.9645C1.23046 19.8925 1.39029 19.7216 1.44773 19.5078C2.80965 14.4772 6.62568 11.1068 10.9678 11.1734V14.4439C10.9687 14.8122 11.2671 15.1102 11.635 15.1094C11.7978 15.1094 11.9551 15.0489 12.0767 14.9406L19.7786 8.05639C20.0525 7.81094 20.0758 7.38922 19.8307 7.11502H19.8303Z" fill="#757575"/></svg>


      <div class="c-post-community__share--container">
        <ul class="c-post-community__share--list">
          <li class="c-post-community__share--item">
            <a class="c-post-community__share--link"
              title="{{t 'Copy link' }}"
              aria-label="{{t 'Copy link' }}"
              onclick="copyCurrentPageURL();">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.93823 5.06185C6.85007 3.97369 5.01059 4.01513 3.8318 5.19462C2.77982 6.24661 1.96914 7.05658 0.917507 8.10892C-0.261981 9.2877 -0.303076 11.1272 0.784735 12.2153C1.8729 13.3035 3.71238 13.2621 4.89116 12.0826C5.33935 11.6344 6.34849 10.626 6.34849 10.626C6.56731 10.4064 6.56731 10.0506 6.34849 9.83108C6.12896 9.61155 5.77314 9.61155 5.55361 9.83108L4.09629 11.2884C3.37307 12.0116 2.24768 12.0878 1.57996 11.4201C0.912238 10.7524 0.98881 9.62701 1.71168 8.90379L4.62597 5.98949C5.34989 5.26557 6.47529 5.18935 7.14301 5.85672C7.36254 6.07555 7.71835 6.07555 7.93788 5.85672C8.15741 5.63719 8.15741 5.28138 7.93788 5.06185H7.93823Z" fill="#A7A7A7"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.02425 7.97576C5.55112 8.50264 6.26591 8.79944 7.01055 8.79944C7.7552 8.79944 8.47104 8.50264 8.99791 7.97576C10.1114 6.86231 11.0639 5.91078 12.1774 4.79698C12.7043 4.26941 13 3.55462 13 2.80962C13 2.06463 12.7039 1.34914 12.1774 0.822269C11.6509 0.295399 10.9357 0 10.19 0C9.44434 0 8.73026 0.296101 8.20268 0.82262C7.72253 1.30383 7.17248 1.85353 6.61329 2.41272C6.39376 2.63224 6.39376 2.98806 6.61329 3.20759C6.83212 3.42641 7.18863 3.42641 7.40746 3.20759L8.99756 1.61749C9.31368 1.30137 9.74255 1.12364 10.1897 1.12364C10.6368 1.12364 11.0657 1.30137 11.3818 1.61749C11.6979 1.93361 11.8757 2.36249 11.8757 2.80962C11.8757 3.25676 11.6979 3.68563 11.3818 4.00176L8.20233 7.18124C7.88691 7.49666 7.45734 7.6751 7.0102 7.6751C6.56306 7.6751 6.13419 7.49666 5.81807 7.18124C5.59924 6.96171 5.24343 6.96171 5.0239 7.18124C4.80437 7.40007 4.80437 7.75588 5.0239 7.97541L5.02425 7.97576Z" fill="#A7A7A7"/>
              </svg>
              <span>링크 복사</span>
            </a>
          </li>

          <li class="c-post-community__share--item">
            <a class="c-post-community__share--link"
              title="{{t 'Share via Email' }}"
              aria-label="{{t 'Share via Email' }}"
              href="mailto:?subject={{ encode title }}&body={{ url absolute='true' }}">
              <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.6816 0H1.31836C0.590039 0 0 0.597951 0 1.32812V9.29688C0 10.0315 0.594141 10.625 1.31836 10.625H13.6816C14.4038 10.625 15 10.0338 15 9.29688V1.32812C15 0.599427 14.4123 0 13.6816 0ZM13.4971 0.885417C13.2278 1.15547 8.59248 5.80036 8.43223 5.96092C8.1832 6.21179 7.85215 6.34991 7.5 6.34991C7.14785 6.34991 6.8168 6.21179 6.56689 5.96003C6.45937 5.85231 1.875 1.25847 1.50293 0.885417H13.4971ZM0.878906 9.11655V1.50875L4.67695 5.31457L0.878906 9.11655ZM1.50352 9.73958L5.3001 5.93937L5.94639 6.58691C6.36152 7.00512 6.91318 7.23533 7.5 7.23533C8.08682 7.23533 8.63877 7.00512 9.05303 6.5878L9.7002 5.93937L13.4968 9.73958H1.50352ZM14.1211 9.11655L10.323 5.31486L14.1211 1.50875V9.11655Z" fill="#A7A7A7"/></svg>
              <span>이메일 공유</span>
            </a>
          </li>

          <li class="c-post-community__share--item">
            <a class="c-post-community__share--link"
              title="{{t 'Share on Facebook' }}"
              aria-label="{{t 'Share on Facebook' }}"
              href="https://www.facebook.com/sharer/sharer.php?u={{ url absolute='true' }}"
              onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8027 0H2.19727C0.98584 0 0 0.98584 0 2.19727V12.8027C0 14.0142 0.98584 15 2.19727 15H6.62109V9.69727H4.86328V7.06055H6.62109V5.27344C6.62109 3.81943 7.80381 2.63672 9.25781 2.63672H11.9238V5.27344H9.25781V7.06055H11.9238L11.4844 9.69727H9.25781V15H12.8027C14.0142 15 15 14.0142 15 12.8027V2.19727C15 0.98584 14.0142 0 12.8027 0Z" fill="#A7A7A7"/></svg>
              <span>페이스북 공유</span>
            </a>
          </li>

          <li class="c-post-community__share--item">
            <a class="c-post-community__share--link"
              title="{{t 'Share on Twitter' }}"
              aria-label="{{t 'Share on Twitter' }}"
              href="https://twitter.com/share?text={{ encode title }}&amp;url={{ url absolute='true' }}"
              onclick="window.open(this.href, 'twitter-share', 'width=550, height=235'); return false;">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 1.4436C14.4375 1.6875 13.8563 1.85596 13.2374 1.93103C13.875 1.55603 14.3624 0.956177 14.5873 0.224854C13.9874 0.581177 13.3312 0.824707 12.6372 0.974854C12.0747 0.375 11.2683 0 10.3872 0C8.68103 0 7.31213 1.38757 7.31213 3.07507C7.31213 3.31897 7.33081 3.54382 7.38721 3.76868C4.83728 3.65625 2.58728 2.41882 1.0686 0.5625C-0.019043 2.51257 1.19971 4.125 2.0061 4.66882C1.51868 4.66882 1.03125 4.51868 0.61853 4.29382C0.61853 5.8125 1.68713 7.06897 3.07471 7.35022C2.77478 7.44397 2.09985 7.50037 1.68713 7.40662C2.08081 8.62537 3.22449 9.52551 4.55603 9.54419C3.5061 10.3693 1.96838 11.0255 -0.000366211 10.8193C1.36853 11.7004 2.98096 12.2069 4.72449 12.2069C10.3868 12.2069 13.4619 7.51941 13.4619 3.46948C13.4619 3.33838 13.4619 3.20691 13.4432 3.07581C14.0808 2.60706 14.6056 2.06323 14.9996 1.4447L15 1.4436Z" fill="#A7A7A7"/></svg>
              <span>트위터 공유</span>
            </a>
          </li>

          <li class="c-post-community__share--item">
            <a class="c-post-community__share--link"
              title="{{t 'Share on Twitter' }}"
              aria-label="{{t 'Share on Twitter' }}"
              href="https://www.linkedin.com/shareArticle?mini=true&url={{ url absolute='true' }}&title={{ encode title }}"
              onclick="window.open(this.href, 'linkedin-share', 'width=580, height=296'); return false;">
              <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 0C3.35859 0 0 3.35859 0 7.5C0 11.6414 3.35859 15 7.5 15C11.6414 15 15 11.6414 15 7.5C15 3.35859 11.6414 0 7.5 0ZM5.32061 11.3379H3.49395V5.84268H5.32061V11.3379ZM4.40742 5.09209H4.39541C3.78252 5.09209 3.38613 4.67022 3.38613 4.14287C3.38613 3.61553 3.79482 3.19336 4.41943 3.19336C5.04404 3.19336 5.42871 3.60352 5.44072 4.14287C5.44072 4.67022 5.04434 5.09209 4.40742 5.09209ZM11.9068 11.3379H10.0805V8.39795C10.0805 7.65908 9.81592 7.15518 9.15498 7.15518C8.65049 7.15518 8.3499 7.49502 8.21777 7.82314C8.16943 7.94063 8.15771 8.10469 8.15771 8.26875V11.3376H6.33135C6.33135 11.3376 6.35537 6.35771 6.33135 5.84238H8.15771V6.62051C8.40059 6.24609 8.83477 5.71348 9.80391 5.71348C11.0057 5.71348 11.9068 6.49893 11.9068 8.18672V11.3376V11.3379Z" fill="#A7A7A7"/></svg>
              <span>링크드인 공유</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>