{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#post}}
{{#if feature_image}} <div
    class="c-post-image-header-template">
    <div class="c-post-image-header-template__wrap">
        <img alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
            class='c-post-image-header-template__img lazyload' style="width: 100%; height: 100%; object-fit: cover;"
            data-srcset='
                {{ img_url feature_image size=' ml' }} 320w, {{ img_url feature_image size='lg' }} 636w, {{ img_url
            feature_image size='xl' }} 1272w, {{ img_url feature_image size='xxl' }} 2640w'
            data-src='{{ img_url feature_image size=' xxl' }}' />
    </div>
    <div class="c-post-header__title c-post-image-header-template__title_and_excerpt">
        <div class="c-post-image-header-template__title">{{title}}</div>
    </div>
    </div>
    {{/if}}
<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--3-4-l'>
    <article class='c-{{ post_class }}'>
      {{> post-header }}

      {{!-- Show the tags, share, author, subscribe box, and comments if visitor can access the post, this means that:
      1. The post is public for anyone
      2. The post is published for subscribers and the visitor is a subscriber
      3. The post is for paid members only and the visitor is a paid member --}}
      {{#if access}}
        <section class='c-content'>
          {{ content }}
        </section>

        {{bluedot_comment_button}}

        {{#if tags}}
          <section class='c-tags'>
            {{ tags separator='' }}
          </section>
        {{/if}}

        {{> share }}

        {{#primary_author}}
          {{> card-author }}
        {{/primary_author}}

        {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
        {{#unless @member}}
          {{#if access}}

            {{> subscribe-form-n inputLabel='subscribe-email-post'}}

          {{/if}}
        {{/unless}}

      {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
      {{else}}
          <!-- from bluedot -->
          {{bluedot_paywall}}
      {{/if}}
    </article>
  </div>
</div>

{{bluedot_paywall_popup}}

{{/post}}
{{#if @site.visible_related_post}}
  <div class="o-grid">
  {{> related-posts}}
  </div>
  {{/if}}

{{#if @site.post_visible_shop_section}}
    <div class="c-shop-page2__container" style="padding: 0% important;">
      <div class="c-shop-page2">
        <div class="c-shop-page2__header">
            <div class="c-shop-page2__title">{{@site.shop_section_title}}</div>
          <div>
            <a class="c-shop-page2__more" href="/shop/">상품 더보기 ▶</a>
          </div>
        </div>
        <div class="c-shop-page2__main">
          <div class="c-shop-section">
            <div class="o-container">
              {{#get "products" limit="3" include="tags,authors" filter=filter order="published_at desc"}}
              {{#if products}}
              <div class="c-product-grid">
                {{#foreach products}}
                {{> product-card which="shop" }}
                {{/foreach}}
              </div>
              {{else}}
              {{> templates/messages/products-empty }}
              {{/if}}
              {{/get}}
            </div>
          </div>
        </div>
      </div>
    </div>
{{/if}}