{{!< default}} {{#contentFor 'title' }}{{ meta_title }}{{/contentFor}} {{#post}} {{#if feature_image}} <div
    class="c-post-image-header-template">
    <div class="c-post-image-header-template__wrap">
        <img alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
            class='c-post-image-header-template__img lazyload' style="width: 100%; height: 100%; object-fit: cover;"
            data-srcset='
                {{ img_url feature_image size=' ml' }} 320w, {{ img_url feature_image size='lg' }} 636w, {{ img_url
            feature_image size='xl' }} 1272w, {{ img_url feature_image size='xxl' }} 2640w'
            data-src='{{ img_url feature_image size=' xxl' }}' />
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0.2) 65%,
            rgba(0, 0, 0, 0) 100%
        );"></div>
    </div>
    <div class="c-post-header__title c-post-image-header-template__title_and_excerpt">
        <div class="c-post-image-header-template__fixed_div" style="width: 80%; max-width: 730px; margin: 0 auto;">
            <div class="c-post-image-header-template__tag-container" style="text-align: left; margin-bottom: 15px;">
                <a href="{{primary_tag.url}}" class="c-post-image-header-template__tag" style="display: inline-block;">{{primary_tag.name}}</a>
            </div>
            <div class="c-post-image-header-template__title">{{title}}</div>
            <div class="c-post-header__info" style="margin-top: 0">
    {{#primary_author}}
    <div class="c-post-header__info--profile">
      {{#if profile_image}}
      <img class="c-post-header__info--image" src="{{img_url profile_image}}" alt="{{name}}의 프로필 사진">
      {{/if}}
    </div>
    <a class="c-post-header__info--name" href="{{url}}" style="color: white;">{{name}}</a>
    {{/primary_author}}
    <div class="c-post-header__info--date">{{date format="YYYY.MM.DD"}}</div>
  </div>
        </div>
    </div>
    </div>
    {{/if}}
    <div class='o-grid'>
        <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--3-4-l'>
            <article class='c-{{ post_class }} c-article'>
                {{> post-community }}
                {{!-- Show the tags, share, author, subscribe box, and comments if visitor can access the post, this
                means that:
                1. The post is public for anyone
                2. The post is published for subscribers and the visitor is a subscriber
                3. The post is for paid members only and the visitor is a paid member --}}
                {{#if access}}
                <section class='c-content'>
                    {{ content }}
                </section>

                {{#primary_author}}
                {{> card-author }}
                {{/primary_author}}
                {{bluedot_comment_button}}
                {{!-- If the post is published for members and paid members and the visitor is not one of those, show
                the
                upgrade
                box --}}
                

                {{!-- If the post is published for members and paid members and the visitor is not one of those, show
                the
                upgrade
                box --}}
                {{else}}
                <!-- from bluedot -->
                {{bluedot_paywall}}
                {{/if}}
            </article>
        </div>
    </div>

    {{bluedot_paywall_popup}}
    {{/post}}
    {{#if @site.visible_related_post}}
    <div class="o-grid">
        {{> related-posts}}
    </div>
    {{/if}}
    {{#if @site.post_visible_shop_section}}
    <section class="c-home-shop-section">
        <div class="c-home-products-carousel">
            <div class="o-grid">
                <div class="o-grid__col o-grid__col--full" style="padding: 0; margin-top: 50px;">
                    {{> common/products/carousel-section which="home" nav="true" title=@site.shop_section_title }}
                </div>
            </div>
        </div>
    </section>
    {{/if}}