{{!< default}} {{#contentFor 'title' }}{{ meta_title }}{{/contentFor}} {{#post}}
      <article class='c-{{ post_class }}'>
        {{> post-header }}
        {{!-- Show the tags, share, author, subscribe box, and comments if visitor can access the post, this means that:
        1. The post is public for anyone
        2. The post is published for subscribers and the visitor is a subscriber
        3. The post is for paid members only and the visitor is a paid member --}}
        {{#if access}}
        <section class='c-content'>
          {{ content }}
        </section>

        {{!-- {{> share }} --}}

        {{#primary_author}}
        {{> card-author }}
        {{/primary_author}}

        {{!-- If the post is published for members and paid members and the visitor is not one of those, show the
        upgrade
        box --}}

        {{!-- If the post is published for members and paid members and the visitor is not one of those, show the
        upgrade
        box --}}
        {{else}}
        <!-- from bluedot -->
        {{bluedot_paywall}}
        {{/if}}
      </article>

  {{bluedot_paywall_popup}}

  {{/post}}
  {{#if @site.visible_related_post}}
  <div class="o-grid">
    {{> related-posts}}
  </div>
  {{/if}}