<div class="c-post-card c-post-card--small{{#unless no-js}} js-post-card__wrap{{/unless}}">
  {{#unless disableMedia}}
  <div class="c-post-card__header">
    <div class="c-post-card__media">
      {{#if feature_image}}
      <div class="c-post-card__image--wrap">
        <img
          alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
          class="c-post-card__image lazyload"
          src="{{img_url feature_image absolute="true" }}">
      </div>
      {{/if}}
      <a href="{{url absolute="true"}}" class="c-post-card__link--cover"></a>
    </div>
  </div>
  {{/unless}}

  <div class="c-post-card__main">
    {{#unless disableMeta}}
    <div class="c-post-card__meta">
      {{#primary_author}}
        <a class="c-post-card__author--name" href="{{url absolute="true"}}">{{name}}</a>
      {{/primary_author}}
    </div>
    {{/unless}}

    <h2 class="c-post-card__title">
      <a href="{{url absolute="true"}}" class="c-post-card__link">{{title}}</a>
    </h2>
  </div>
</div>